# JS and other stuff.
node_modules
coverage
coverage.json
.vscode/

# Hardhat files.
abi/
cache/
artifacts/
typechain/
deployments/dev
deployments/hardhat
deployments/localhost

# Private data that should not be visible publicly.
conf/keys.staging.json
conf/keys.production.json
conf/keys.mumbai.json
conf/keys.amoy.json
conf/keys.polygon.json
.env.secret

# Geth local chain state.
geth-local-poa-chain/geth